@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Roboto:wght@300&display=swap");

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: bisque;
  text-align: center;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* ************************ */

h1 {
  font-family: "Caveat", cursive;
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

main {
  flex: 1;
}

.game-board {
  margin: 20px 0;
  height: 460px;
  width: 460px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.game-pieces {
  background-color: whitesmoke;
  border: 1px solid black;
  text-align: center;
  font-family: "Caveat", cursive;
  font-size: 7rem;
}

#instructions {
  font-size: 2rem;
  margin-bottom: 0;
}

#reset {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  background-color: rgb(70, 69, 69);
  color: white;
}

#reset:hover {
  background-color: rgb(197, 186, 186);
  color: black;
}
